@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100%;
  background: linear-gradient(#24282a, #e0324b);
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #24282a;
}

::-webkit-scrollbar-thumb {
  background: #e0324b;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d0223a;
}
