@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient( #24282a, #e0324b);
  margin: 0;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
}
